<style>
h1 {
    font-size: 500%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 100%;
}

</style>

<div class="container">
	<div class="row">
		<h1 align="center">One Job Street</h1>
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
  </div>
</div>
